body {
    font-family: arial, sans-serif;
}

#navbar {
    top:0;
position: fixed;
width: 100%;
}

#left-nav {
    display:inline-block;
    list-style:none;
    float:left;
    margin-left: 30px;
    font-size: 14px;
    padding-left:0;
}
#right-nav {
    display:inline-block;
    list-style: none;
    float:right;
    margin-right: 30px;
    font-size: 14px;
    padding-left:0;
}

li {
    float:left;
    margin: 0 5px 0 5px;

}
a {
    color: inherit;
    text-decoration: inherit;
  }

#google-logo {
    display:block;
    margin:auto;
    margin-top: 30%;
}

#search-form {
    text-align: center;
}
#search-input{
    width: 500px;
    border-radius: 20px;
    padding: 6px;
    margin: 20px 0px 20px 0px;
    border: 1px solid hsl(0, 1%, 69%);
}
.submit-button {
    background-color: rgb(240, 240, 240);
    margin: 0px 20px 0px 20px;
    padding: 8px;
    border-radius: 5px;
    border-style:none;
}
