body {
    font-family: arial, sans-serif;
}

#navbar {
    top:0;
position: fixed;
width: 100%;
font-size: 12px;
}

#left-nav {
    display:inline-block;
    list-style:none;
    float:left;
    margin-left: 30px;
    padding-left:0;
}
#right-nav {
    display:inline-block;
    list-style: none;
    float:right;
    margin-right: 30px;
    padding-left:0;
}

li {
    float:left;
    margin: 0 10px 0 10px;

}
a {
    color: inherit;
    text-decoration: inherit;
  }

#google-logo {
    display:block;
    margin:auto;
    margin-top: 25%;
}
#apps-logo{
    height: 20px;
    width: auto;
}

#search-form {
    text-align: center;
}
#search-input{
    width: 500px;
    border-radius: 20px;
    padding: 6px;
    margin: 20px 0px 20px 0px;
    border: 1px solid hsl(0, 1%, 69%);
}
.submit-button {
    background-color: rgb(240, 240, 240);
    margin: 0px 20px 0px 20px;
    padding: 8px;
    border-radius: 5px;
    border-style:none;
}
footer {
    display: inline-block;
    position:fixed;
    bottom:0;
    width:100%;
    background-color: #f2f2f2;
    border-top: 1px solid lightgray;
    font-size: 14px;
    color: rgb(128, 128, 128);
}
.footer-ul {
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    margin: 15px 20px 15px 20px;
}
#footer-right{
    float:right;
    
}
#footer-left{
    float:left;
    
}